/* Font scheme */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

/* color scheme */
:root {
    --color-1: #89CEAD;
    --color-2: #5EA985;
    --color-3: #FFFFFF;
    --color-4: #30A3E5;
    --color-5: #FFA0A0;
}

/* page background colour */
.page {
    background-color: #9ee8c4;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%2389cead' fill-opacity='1'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    height: 100%;
    width: 100%;
}

/* page font */
body {
    font-family: "Open Sans", sans-serif;
    margin-left: 0px;
}

/* pager header */
.page-header {
    height: 10vh;
    width: 100%;
    top: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 2000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* set master sidebar container to contain one hidden and one visible sidebar */
.master {
    left: 0;
    width: 550px;
    height: 100%;
    top: 10vh;
    position: relative;
}

/* style attributes for master file view (sidebar) */
.master-file {
    height: 100%;
    width: 250px;
    background-color: white;
    margin-left: 8px;
    margin-right: 10px;
    padding: 0;
    position: fixed;
    overflow: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    animation-name: master-file-scale;
    animation-duration: 1s;
    -webkit-animation-name: master-file-scale;
    -webkit-animation-duration: 1s;
    animation-delay: 3000ms;
    -webkit-animation-delay: 3000ms;
}

/* file sidebar element attributes */
.master-file a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

/* file element (file sidebar) color on hover */
.master-file a:hover:not(.master-sidebar-header) {
    background-color: #555;
    color: white;
    cursor: pointer;
}

/* Repository list sidebar */
.repo-sidebar {
    margin-left: 8px;
    padding: 0;
    width: 250px;
    background-color: #d1d1d1;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Repositories */
.repo-sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

/* sidebar header color */
.sidebar-header {
    background-color: var(--color-2);
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* file master sidebar header */
.master-sidebar-header {
    background-color: var(--color-2);
    display: block;
    color: white;
    padding: 16px;
    margin: 0;
    text-decoration: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}

/* colour of repo when clicked */
.repo-sidebar a.active {
    background-color: #787878;
    color: white;
}

/* repo hover */
.repo-sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
    cursor: pointer;
}

/* margin of repo files */
div.repo-information {
    margin-left: 268px;
    margin-top: 100px;
    padding: 1px 16px;
    height: auto;
    width: 50%;
    position: absolute;
}

#issueInformation {
    width: 28%;
    float: right;
    padding: 1px 16px;
    margin-top: 100px;
    height: 100%;
    position: relative;

}

#issueTable {
    width: 100%;
    border-collapse: separate !important;
    border-spacing: 0;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

#issueTable th {
    background: #FFA0A0;
    height: 30px;
    padding: 8px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    color: white;
    font-size: 24px;
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);*/
}

#issueTable tr {
    background-color: #fff0f0;
    /*border-radius: 15px;*/
    text-align: center;
    color: black;
    font-size: 14px;
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);*/
}

#issueTable td {
    height: 30px;
    padding: 8px;
    /*border-radius: 15px;*/
    text-align: center;
    color: black;
    font-size: 14px;
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);*/
}

.issueHeader {
    cursor: pointer;
    background-color: white !important;
}

.issueHeader:hover {
    background-color: #e6e6e6 !important;
}

#issueBottom {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #fff0f0;
    padding: 0 !important;
    height: 15px !important;
}

#loadScreen {
    position:fixed;
    width:100%;
    height:100%;
    z-index: 1000;
    background: rgba(0,0,0, 0.7);
    text-align: center;
    display: table;
    color:white;
    font-size: 20px;
}

#loadScreen p {
    display: table-cell;
    vertical-align: middle;
}

/* search bar behavior */
input#repo-search:focus, textarea#repo-search:focus, select#repo-search:focus{
    outline: none;
    background-color: #f0f0f0;
}

/* search component in sidebar */
#repo-search {
    width: 190px;
    height: 20px;
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-style: none;
    border-color: white;
    position: absolute;
    font-size: 11pt;
}

/* search input style */
.search-bar {
    width: 230px;
    height: 50px;
    padding: 10px;
    background-color: #d1d1d1;
    border-bottom-style: solid;
    border-bottom-color: white;
}

/* repo file styling */
.grid-item.repo-file {
    background-color: white;
    border-radius: 15px;
    min-height: 200px;
    width: 200px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* grid item hover color */
.grid-item.repo-file:hover {
    background-color: #e6e6e6;
}

/* file detail component attributes */
.grid-item.file-detail {
    background-color: white;
    border-radius: 15px;
    min-height: 200px;
    min-width: 200px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

/* expand file for master-detail view */
@keyframes master-file-scale {
    0% {height: 0}
    100% {min-height: 716px}
}
@-webkit-keyframes master-file-scale {
    0% {height: 0}
    100% {min-height: 716px}
}

/* hide repo sidebar */
.repo-sidebar.hidden {
    animation-name: hide-sidebar;
    -webkit-animation-name: hide-sidebar;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    left: -300px;
}

/* animation to hide repo sidebar */
@keyframes hide-sidebar {
    0% {left: 8px}
    100% {left: -300px}
}
@-webkit-keyframes hide-sidebar {
    0% {left: 8px}
    100% {left: -300px}
}

/* move expanded file to the left */
.detailToMaster-target {
    -webkit-animation: detailToMaster 2500ms linear both;
    animation: detailToMaster 2500ms linear both;
    background-color: white;
    border-radius: 15px;
}

/* Generated with Bounce.js. */
/* animation to move expanded file to the left */
@keyframes detailToMaster {
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 268, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 268, 0, 0, 1); }
    4.3% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 134.29, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 134.29, 0, 0, 1); }
    8.61% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 39.568, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 39.568, 0, 0, 1); }
    12.91% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -5.592, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -5.592, 0, 0, 1); }
    17.22% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -16.267, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -16.267, 0, 0, 1); }
    28.33% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.637, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.637, 0, 0, 1); }
    39.44% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.62, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.62, 0, 0, 1); }
    61.66% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 7.892, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 7.892, 0, 0, 1); }
    83.98% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 8.007, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 8.007, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 8, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 8, 0, 0, 1); }
}
@-webkit-keyframes detailToMaster {
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 268, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 268, 0, 0, 1); }
    4.3% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 134.29, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 134.29, 0, 0, 1); }
    8.61% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 39.568, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 39.568, 0, 0, 1); }
    12.91% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -5.592, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -5.592, 0, 0, 1); }
    17.22% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -16.267, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -16.267, 0, 0, 1); }
    28.33% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.637, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.637, 0, 0, 1); }
    39.44% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.62, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.62, 0, 0, 1); }
    61.66% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 7.892, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 7.892, 0, 0, 1); }
    83.98% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 8.007, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 8.007, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 8, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 8, 0, 0, 1); }
}

/* slide down and fade out */
.slide-out-bck {
    -webkit-animation: slide-out-bck 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: slide-out-bck 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* animation to slide down and fade out */
@-webkit-keyframes slide-out-bck {
    0% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-1100px) translateY(1000px);
        transform: translateZ(-1100px) translateY(1000px);
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes slide-out-bck {
    0% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-1100px) translateY(1000px);
        transform: translateZ(-1100px) translateY(1000px);
        opacity: 0;
        visibility: hidden;
    }
}

/* slide up and fade in */
.slide-in-bck {
    -webkit-animation: slide-in-bck 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bck 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* animation to slide up and fade in */
@-webkit-keyframes slide-in-bck {
    0% {
        -webkit-transform: translateZ(700px) translateY(300px);
        transform: translateZ(700px) translateY(300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}
@keyframes slide-in-bck {
    0% {
        -webkit-transform: translateZ(700px) translateY(300px);
        transform: translateZ(700px) translateY(300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

/* slide repo sidebar into view */
.repo-sidebar.visible {
    -webkit-animation: view-sidebar 2500ms linear both;
    animation: view-sidebar 2500ms linear both;
    left: 2px;
}

/* Generated with Bounce.js. */
/* animation to slide repo sidebar into view */
@-webkit-keyframes view-sidebar {
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); }
    4.1% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -124.752, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -124.752, 0, 0, 1); }
    8.11% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -29.858, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -29.858, 0, 0, 1); }
    12.11% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 7.567, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 7.567, 0, 0, 1); }
    16.12% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 15.093, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 15.093, 0, 0, 1); }
    27.23% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.367, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.367, 0, 0, 1); }
    38.34% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1.687, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1.687, 0, 0, 1); }
    60.56% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.007, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.007, 0, 0, 1); }
    82.78% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2, 0, 0, 1); }
}
@keyframes view-sidebar {
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); }
    4.1% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -124.752, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -124.752, 0, 0, 1); }
    8.11% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -29.858, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -29.858, 0, 0, 1); }
    12.11% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 7.567, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 7.567, 0, 0, 1); }
    16.12% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 15.093, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 15.093, 0, 0, 1); }
    27.23% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.367, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.367, 0, 0, 1); }
    38.34% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1.687, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1.687, 0, 0, 1); }
    60.56% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.007, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.007, 0, 0, 1); }
    82.78% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2, 0, 0, 1); }
}

/* attributes for all buttons */
button {
    background-color:#FFA0A0;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #FFA0A0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Open Sans, sans-serif;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
}
button:hover {
    background-color:#ffb3a0;
}
button:focus {
    outline: none;
}
button:active {
    position:relative;
    top:1px;
}
#emailPriorities {
    position: absolute;
    top: 5px;
    right: 10px;
}

/* table styling */
#contributorTable {
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#contributorTable * {
    position: relative;
}
#contributorTable td, #contributorTable th {
    padding: 15px;
}
#contributorTable thead tr {
    height: 60px;
    background: #36304a;
    align-content: center;
    text-align: center;
}
#contributorTable tr {
    height: 50px;
}
#contributorTable tr:last-child {
    border: 0;
}
#contributorTable td, #contributorTable th {
    text-align: left;
}
#contributorTable td.l, #contributorTable th.l {
    text-align: right;
}
#contributorTable td.c, #contributorTable th.c {
    text-align: center;
}
#contributorTable td.r, #contributorTable th.r {
    text-align: center;
}
#contributorTable tr:nth-child(odd) {
    background-color: #f5f5f5;
}
#contributorTable tr {
    font-size: 15px;
    color: black;
    line-height: 1.2;
    font-weight: unset;
}
#contributorTable tr:hover:not(.header) {
    color: #555555;
    background-color: #f5f5f5;
    cursor: pointer;
}



.highlight-pulsate {
    -webkit-animation: pulsate 0.3s ease-in-out 2 both;
    animation: pulsate 0.3s ease-in-out 2 both;
}
@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes pulsate {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.legend {
    font-size: 12px;
}
rect {
    stroke-width: 2;
}



