/* Font scheme */
@import url('https://fonts.googleapis.com/css?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

/* color scheme */
:root {
    --color-1: #89cead;
    --color-2: #89cead;
    --color-3: #FFFFFF;
    --color-4: #30A3E5;
    --color-5: #FFA0A0;
    --color-highlight-secondary: #ff724f;
}

/* page background colour */
.page {
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%2389CEAD' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
    height: 100%;
    width: 100%;
}

/* page font */
body {
    font-family: "Play", sans-serif;
    margin-left: 0px;
}

/* pager header */
.page-header {
    height: 100px;
    width: 100%;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 10;
}

#main-logo {
    height: 30px;
    width: 165px;
}

#controls {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
}

.notifications {
    height: 25px;
    width: 25px;
    margin-right: 20px;
}

.bell {
    opacity: 1;
    height: 25px;
    cursor: pointer;
}

.bell:hover {
    opacity: 0.7;
}

#start {
    z-index: 20;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    line-height: 50px;
    padding: calc(50vh - 25px) 0;
    top: 0;
    font-size: 20px;
    text-align: center;
    color: white;
    margin: 0;
}

/* set master sidebar container to contain one hidden and one visible sidebar */
.master {
    left: 0;
    width: 550px;
    height: 100%;
    top: 100px;
    position: relative;
}

/* style attributes for master file view (sidebar) */
.master-file {
    height: 100%;
    width: 250px;
    background-color: white;
    margin-left: 8px;
    margin-right: 10px;
    padding: 0;
    position: fixed;
    overflow: auto;
    animation-name: master-file-scale;
    animation-duration: 1s;
    -webkit-animation-name: master-file-scale;
    -webkit-animation-duration: 1s;
    animation-delay: 3000ms;
    -webkit-animation-delay: 3000ms;
}

/* file sidebar element attributes */
.master-file a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

/* file element (file sidebar) color on hover */
.master-file a:hover:not(.master-sidebar-header) {
    background: #444;
    color: white;
    cursor: pointer;
}

/* Repository list sidebar */
.repo-sidebar {
    margin-left: 0;
    padding: 0;
    width: 250px;
    background-color: #fff;
    position: fixed;
    max-height: calc(100vh - 100px);
    overflow: scroll;
    margin-bottom: 20px;
    z-index: 30;
}

.basic-box-shadow {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

/* Repositories */
.repo-sidebar a {
    display: block;
    color: #444;
    padding: 15px;
    text-decoration: none;
}

/* sidebar header color */
.sidebar-header {
    background-color: white;
}

/* file master sidebar header */
.master-sidebar-header {
    background-color: #fff;
    display: block;
    color: var(--color-2);
    padding: 15px;
    margin: 0;
    text-decoration: none;
    text-align: center;
}

/* colour of repo when clicked */
.repo-sidebar a.active {
    background-color: #555;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2);
    color: white;
}

/* repo hover */
.repo-sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
    cursor: pointer;
}

/* margin of repo files */
div.repo-information {
    margin-left: 268px;
    margin-top: 100px;
    padding: 1px 16px;
    height: auto;
    width: 50%;
    position: absolute;
}

.returnButton h3 {
    cursor: pointer;
    margin-top: 0;
    margin-right: 0;
    position: absolute;
}

.master-sidebar-header h3 img {
    transition: transform 0.2s linear;
}

.master-sidebar-header:hover h3 img {
    transform: translate(0, 4px);
    transition: transform 0.2s linear;
}

.returnButton h3 img {
    color: #000;
    width: 20px;
    height: 20px;
}

.expanded-repo-information {
    width: 80% !important;
}

#issueInformation {
    width: 28%;
    float: right;
    padding: 1px 16px;
    margin-top: 100px;
    height: 100%;
    position: relative;

}

#issueTable {
    width: 100%;
    border-collapse: separate !important;
    border-spacing: 0;
    background: #fff;
}

#issueTable th {
    border-top: 4px solid var(--color-highlight-secondary);
    height: 30px;
    padding: 8px;
    text-align: center;
    color: #444;
    font-size: 18px;
}

#issueTable tr {
    background-color: #fff;
    text-align: center;
    color: black;
    font-size: 14px;
}

#issueTable td {
    height: 30px;
    padding: 8px;
    text-align: center;
    color: black;
    font-size: 14px;
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);*/
}

.issueHeader {
    cursor: pointer;
    background-color: white !important;
}

.issueHeader:hover {
    background-color: #e6e6e6 !important;
}

#loadScreen {
    position:fixed;
    width:100%;
    height:100%;
    z-index: 40;
    top: 0;
    background: rgba(0,0,0, 0.7);
    text-align: center;
    color:white;
    font-size: 20px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}

/* search component in sidebar */
#repo-search {
    width: 190px;
    height: 20px;
    padding: 5px;
    border-style: none;
    border-color: white;
    position: absolute;
    font-size: 11pt;

    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}

/* repo file styling */
.grid-item.repo-file {
    background-color: white;
    min-height: 200px;
    width: 200px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    border-top: 4px solid var(--color-1);
}

.grid-item.file-detail {
    border-top: 4px solid var(--color-1);
}

/* grid item hover color */
.grid-item.repo-file:hover {
    background-color: #e6e6e6;
}

/* file detail component attributes */
.grid-item.file-detail {
    background-color: white;
    min-height: 200px;
    min-width: 200px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

/* expand file for master-detail view */
@keyframes master-file-scale {
    0% {height: 0}
    100% {min-height: 716px}
}
@-webkit-keyframes master-file-scale {
    0% {height: 0}
    100% {min-height: 716px}
}

/* hide repo sidebar */
.repo-sidebar.hidden {
    animation-name: hide-sidebar;
    -webkit-animation-name: hide-sidebar;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    left: -300px;
}

/* animation to hide repo sidebar */
@keyframes hide-sidebar {
    0% {left: 8px}
    100% {left: -300px}
}
@-webkit-keyframes hide-sidebar {
    0% {left: 8px}
    100% {left: -300px}
}

/* move expanded file to the left */
.detailToMaster-target {
    -webkit-animation: detailToMaster 2500ms linear both;
    animation: detailToMaster 2500ms linear both;
    background-color: white;
}

/* Generated with Bounce.js. */
/* animation to move expanded file to the left */
@keyframes detailToMaster {
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 268, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 268, 0, 0, 1); }
    4.3% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 134.29, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 134.29, 0, 0, 1); }
    8.61% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 39.568, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 39.568, 0, 0, 1); }
    12.91% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -5.592, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -5.592, 0, 0, 1); }
    17.22% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -16.267, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -16.267, 0, 0, 1); }
    28.33% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.637, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.637, 0, 0, 1); }
    39.44% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.62, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.62, 0, 0, 1); }
    61.66% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 7.892, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 7.892, 0, 0, 1); }
    83.98% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 8.007, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 8.007, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 8, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 8, 0, 0, 1); }
}
@-webkit-keyframes detailToMaster {
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 268, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 268, 0, 0, 1); }
    4.3% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 134.29, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 134.29, 0, 0, 1); }
    8.61% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 39.568, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 39.568, 0, 0, 1); }
    12.91% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -5.592, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -5.592, 0, 0, 1); }
    17.22% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -16.267, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -16.267, 0, 0, 1); }
    28.33% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.637, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.637, 0, 0, 1); }
    39.44% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.62, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.62, 0, 0, 1); }
    61.66% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 7.892, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 7.892, 0, 0, 1); }
    83.98% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 8.007, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 8.007, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 8, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 8, 0, 0, 1); }
}

/* slide down and fade out */
.slide-out-bck {
    -webkit-animation: slide-out-bck 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: slide-out-bck 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* animation to slide down and fade out */
@-webkit-keyframes slide-out-bck {
    0% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-1100px) translateY(1000px);
        transform: translateZ(-1100px) translateY(1000px);
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes slide-out-bck {
    0% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-1100px) translateY(1000px);
        transform: translateZ(-1100px) translateY(1000px);
        opacity: 0;
        visibility: hidden;
    }
}

/* slide up and fade in */
.slide-in-bck {
    -webkit-animation: slide-in-bck 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bck 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* animation to slide up and fade in */
@-webkit-keyframes slide-in-bck {
    0% {
        -webkit-transform: translateZ(700px) translateY(300px);
        transform: translateZ(700px) translateY(300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}
@keyframes slide-in-bck {
    0% {
        -webkit-transform: translateZ(700px) translateY(300px);
        transform: translateZ(700px) translateY(300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

/* slide repo sidebar into view */
.repo-sidebar.visible {
    -webkit-animation: view-sidebar 2500ms linear both;
    animation: view-sidebar 2500ms linear both;
    left: 0;
    overflow: auto;
}

/* Generated with Bounce.js. */
/* animation to slide repo sidebar into view */
@-webkit-keyframes view-sidebar {
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); }
    4.1% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -124.752, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -124.752, 0, 0, 1); }
    8.11% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -29.858, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -29.858, 0, 0, 1); }
    12.11% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 7.567, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 7.567, 0, 0, 1); }
    16.12% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 15.093, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 15.093, 0, 0, 1); }
    27.23% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.367, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.367, 0, 0, 1); }
    38.34% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1.687, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1.687, 0, 0, 1); }
    60.56% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.007, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.007, 0, 0, 1); }
    82.78% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2, 0, 0, 1); }
}
@keyframes view-sidebar {
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); }
    4.1% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -124.752, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -124.752, 0, 0, 1); }
    8.11% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -29.858, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -29.858, 0, 0, 1); }
    12.11% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 7.567, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 7.567, 0, 0, 1); }
    16.12% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 15.093, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 15.093, 0, 0, 1); }
    27.23% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.367, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.367, 0, 0, 1); }
    38.34% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1.687, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1.687, 0, 0, 1); }
    60.56% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.007, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.007, 0, 0, 1); }
    82.78% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2, 0, 0, 1); }
}

/* attributes for all buttons */
button {
    background-color:#fff;
    color: #000;
    display:inline-block;
    cursor:pointer;
    font-family: "Play", sans-serif;
    font-size: 17px;
    padding:16px 31px;
    text-decoration:none;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    border: none;
    transition: box-shadow 0.2s;
}
button:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s;
}
button:focus {
    outline: none;
}
button:active:not(#saveEmailFrequencies) {
    position:relative;
    top:1px;
}

/* table styling */
#contributorTable {
    border-collapse: collapse;
    background: white;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#contributorTable * {
    position: relative;
}
#contributorTable td, #contributorTable th {
    padding: 15px;
}
#contributorTable thead tr {
    height: 60px;
    background: #36304a;
    align-content: center;
    text-align: center;
}
#contributorTable tr {
    height: 50px;
}
#contributorTable tr:last-child {
    border: 0;
}
#contributorTable td, #contributorTable th {
    text-align: left;
}
#contributorTable td.l, #contributorTable th.l {
    text-align: right;
}
#contributorTable td.c, #contributorTable th.c {
    text-align: center;
}
#contributorTable td.r, #contributorTable th.r {
    text-align: center;
}
#contributorTable tr:nth-child(odd) {
    background-color: #f5f5f5;
}
#contributorTable tr {
    font-size: 15px;
    color: black;
    line-height: 1.2;
    font-weight: unset;
}
#contributorTable tr:hover:not(.header) {
    color: #555555;
    background-color: #f5f5f5;
    cursor: pointer;
}



.highlight-pulsate {
    -webkit-animation: pulsate 0.3s ease-in-out 2 both;
    animation: pulsate 0.3s ease-in-out 2 both;
}
@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes pulsate {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.legend {
    font-size: 12px;
}
rect {
    stroke-width: 2;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 80; /* Sit on top */
    left: 0;
    top: 0;
    padding-top: 5%;
    font-size: 20px;
    line-height: 40px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#saveEmailFrequencies {
    position: absolute;
    bottom: 15px;
    right: 15px;
}


#saveEmailFrequencies:active {
   bottom: 14px;
}

.modal-content p{
    font-size: 14px;
    color: #787878;
    line-height: 20px;
}

.show-modal {
    display: block !important;
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 350px;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4),0 6px 20px 0 rgba(0,0,0,0.4);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.repo-container {
    display: flex;
    position: relative;
}

.repo-name {
    font-size: 18px;
    width: 80%;
}

.repo-description {
    font-size: 12px;
    width: 80%;
}

.round {
    position: absolute;
    right: 20px;
    top: calc(50% - 10px);
    float: right;
}

.round span {
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 20px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    border-radius: 50%;
}

.round span:after {
    border: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    width: 12px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked + span {
    background-color: #b4edd2;
    border-color: #b4edd2;
}

.round input[type="checkbox"]:checked + span:after {
    opacity: 1;
}

.badge {
    height: 7px;
    width: 7px;
    background-color: #d63031;
    color: white;
    text-align: center;
    position: relative;
    right: -13px;
    top: -32px;
    padding: 3px;
    border: 2px solid white;
    visibility: hidden;
    font-size: 7px;
}

.show-badge {
    visibility: visible;
}

#notification-pane {
    animation-name: notif-disappear;
    -webkit-animation-name: notif-disappear;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    width: 300px;
    min-height: 100px;
    max-height: 200px;
    right: 10px;
    top: 40px;
    background: white;
    padding: 0;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 40;
    visibility: hidden;

}

#notification-pane.notifications-visible {
    animation-name: notif-appear;
    -webkit-animation-name: notif-appear;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    visibility: visible;
}
/* width */
#notification-pane::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#notification-pane::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

/* Handle */
#notification-pane::-webkit-scrollbar-thumb {
    background: #424242;
    height: 20px;
}

#notification-pane::-webkit-scrollbar-thumb:hover {
    background: #787878;
}

.notification-item {
    height: 80px;
    width: 270px;
    padding: 10px 30px 10px 20px;
    background: #f0f0f0;
    cursor: pointer;
    border-bottom: solid #bababa 1px;
}

.notification-item.new {
    border-bottom: solid var(--color-5) 3px;
    background: white;
}

.notification-title {
    font-size: 14px;
    margin-bottom: 5px;
    color: #1f1f1f;
}

.notification-emphasis {
    color: black;
    font-size: 15px;
}

.notification-body {
    color: #424242;
    font-size: 12px;
    margin-left: 75px;
    margin-top: 5px;
}

.avatar {
    width: 60px;
    top: 10px;
    position: relative;
    object-fit:cover;
    float: left;
    margin-right: 15px;
}

.notification-emphasis.no-notifs {
    text-align: center;
    top: 25px;
    position: relative;
}

@keyframes notif-appear {
    0%{opacity: 0; top: -40px}
    100%{opacity: 1; top: 40px}
}

@-webkit-keyframes notif-appear {
    0%{opacity: 0; top: -40px}
    100%{opacity: 1; top: 40px}
}

@keyframes notif-disappear {
    0%{opacity: 1; top: 40px}
    100%{opacity: 0; top: -40px}
}

@-webkit-keyframes notif-disappear {
    0%{opacity: 1; top: 40px}
    100%{opacity: 0; top: -40px}
}

/**
Repos refresh button
 */

#getReposButtonOuter {
    display: flex;
    align-content: center;
    justify-items: center;
}

#getReposButton {
    padding: 10px;
    margin: 10px auto;
}

#getReposButton img {
    width: 20px;
    height: auto;
    color: #fff;
    margin: 0 auto;
}

#email-icon {
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
    margin-right: 5px;
}