<!--TODO: passing data into template-->
<!DOCTYPE html>
<html lang="en" style="align-content: center">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <title>Document</title>
</head>
<body style="font-family: 'Open Sans', sans-serif; margin: 0; height: 100%; background: #eeeeee; overflow: scroll; position: relative; width: 100%; text-align: center; align-content: center; align-items: center; padding: 0 0 0 calc(50% - 350px);">
<div class="main-content" style=" width: 700px; background-color: white; color: black; margin-top: 50px; margin-bottom: 50px; padding-top: 20px; position: absolute">
    <div class="header" style=" margin-bottom: 20px;">
        <a href="https://devalarm.com"><img alt="DevAlarm" src="cid:logo.png" style="height: 30px; width: 165px; margin-bottom: 20px;"></a>
        <b style="color: #555555;"> <br> A customisable change alarm for GitHub repositories. </b>
    </div>
    <div class="email-subject" style="height: 100px; background-color: #9ee8c4; z-index: 1;">
        <img src="cid:welcome-banner.png" style="height: 120px; left: 0; top: 0; z-index: 1">
    </div>
    <div class="welcome-body" style="text-align: center; padding: 40px; border-bottom: solid #eeeeee; border-bottom-width: 2px;">
        <h2>Welcome to DevAlarm, {{name}}!</h2>
        <p style="text-align: left; line-height: 30px;">Your life is about to get a whole lot more notified with DevAlarm. From now on, you will receive customisable updates whenever a change has been made to a file you have contributed to, or created from your repositories.</p>
    </div>
    <h2 style="text-align: center; padding-bottom: 40px; padding-top: 15px; color: #424242; border-bottom: solid #eeeeee; border-bottom-width: 2px;">Getting Started</h2>
    <div class="instructions" style="text-align: center; padding: 5px 40px 10px; border-bottom: solid #eeeeee; border-bottom-width: 2px;">
        <div class="repo-info" style="padding-bottom: 10px; border-bottom: solid #eeeeee; border-bottom-width: 2px;">
            <h3 style="text-align: left">View Your Repositories</h3>
            <p style="text-align: left"><img alt="Repository list" src="cid:repositories.png" style="height: 150px; float: right">Go to your dashboard and view a list of all your repositories. Here you can change which repositories to be notified for, and customize the frequency at which those notifications are delivered.</p>
            <p class="clear" style="clear: both;">&nbsp;</p>
        </div>
        <div class="file-details" style="padding-top: 15px; padding-bottom: 5px; border-bottom: solid #eeeeee; border-bottom-width: 2px;">
            <h3 style="text-align: right">See File Statistics</h3>
            <p style="text-align: right"><img alt="Repository list" src="cid:file-details.png" style="height: 150px; float: left">See your files in a new way with contribution ratios, line change counts per contributor, and all contributor contact information in one place.</p>
            <p class="clear" style="clear: both;">&nbsp;</p>
        </div>
        <div class="files-issues" style="padding-top: 15px;">
            <h3 style="text-align: left">See All Files and Unresolved Issues</h3>
            <p style="text-align: left"><img alt="Repository list" src="cid:files-issues.png" style="height: 150px; float: right">See a list of all files within your repositories as well as all open issues in one place!</p>
            <p class="clear" style="clear: both;">&nbsp;</p>
        </div>
    </div>
    <div class="footer" style="text-align: center; background: #424242; color: white; padding: 20px;">
        <p><a class="footer-links" href="" style="color: white; text-decoration: none" onmouseover="this.style.color='#FFA0A0'" onmouseout="this.style.color='#ffffff'">About</a></p>
        <p><a class="footer-links" href="https://devalarm.com/" style="color: white; text-decoration: none" onmouseover="this.style.color='#FFA0A0'" onmouseout="this.style.color='#ffffff'">Home</a></p>
        <p><a class="footer-links" href="" style="color: white; text-decoration: none" onmouseover="this.style.color='#FFA0A0'" onmouseout="this.style.color='#ffffff'">Contact</a></p>
    </div>
</div>
</body>
</html>

